<form action="update/{{ ide.id }}" method="post">
  {% csrf_token %}
  <fieldset>
      <legend><h1>{{ ide.title }}</h1></legend>
      {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
      {% endif %}
      <select
        name="programming_language"
        id="programming_language"
        multiple
      >
        {% for programming_language in ide.programming_languages.all %}
          <option value="{{ programming_language.id }}">
            {{ programming_language.title }}
          </option>
        {% endfor %}
      </select>
  </fieldset>
  <input type="submit" value="Vote">

  <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
</form>
